#encoding UTF-8
{
  "title":"Cielo del Oeste Weather",
  "time":"$current.dateTime",
  "uptime":"$station.uptime",
  "serverUptime":"$station.os_uptime",
  "weewxVersion":"$station.version",
  "outTemp":$current.outTemp.formatted,
  "outTempUnits":"$unit.label.outTemp",
  "inTemp":$current.inTemp.formatted,
  "inTempUnits":"$unit.label.inTemp",
  "windchill":$current.windchill,
  "heatindex":$current.heatindex,
  "dewpoint":$current.dewpoint.formatted,
  "dewpointUnits":"$unit.label.outTemp",
  "humidity":$current.outHumidity.formatted,
  "insideHumidity":$current.inHumidity.formatted,
  "barometer":$current.barometer.formatted,
  "barometerUnits":"$unit.label.barometer",
  "barometerTrendData":$trend.barometer.formatted,
  "windSpeed":$current.windSpeed.formatted,
  "windSpeedUnits":"$unit.label.windSpeed",
  "windDir":$current.windDir.formatted,
  "windGust":$current.windGust.formatted,
  "windGustDir":$current.windGustDir.formatted,
  "rainRate":$current.rainRate.formatted,
  "rainRateUnits":"$unit.label.rainRate",
  "dayRain":$day.rain.sum,
  "dayRainUnits":$unit.label.rain
}
